.media-menu {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;

  .burger {
    flex-basis: 30%;
    padding-left: 15px;
  }

  span {
    text-align: right;
    flex-basis: 70%;
    font-family: "Dancing Script", cursive;
    font-size: 45px;
    color: $inputs-hover-color;
    padding: 0 30px;
    font-weight: 600;

    span {
      color: $main-color;
      padding: 0 15px;
    }
  }
}
