.navbar {
  grid-area: 1 / 2 / 2 / 3;
  background: white;
  justify-self: stretch;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-family: $brand-font;
  color: $button-grey;
  height: auto;

  .money {
    align-items: center;
    margin: 0 10px;

    i {
      padding: 0 7px;
    }

    span {
      font-weight: 500;
    }
  }

  i {
    margin: 0 10px;
  }

  .profil {
    display: flex;
    align-items: center;
    margin: 0 10px;

    .name {
      height: 15px;
      font-size: 12px;
      padding-right: 10px;
    }
  }

  .icon-notification {
    border-left: 1px solid $button-grey-hover;
    border-right: 1px solid $button-grey-hover;
    padding: 15px;
    margin: 0;
  }

  .notification-dot {
      position: absolute;
      top: 12px;
      right: 260px;
      height: 8px;
      width: 8px;
      background-color: $main-color;
      border-radius: 50%;
  }

  .icon-quit {
    border-left: 1px solid $button-grey-hover;
    border-right: 1px solid $button-grey-hover;
    padding: 15px;
    margin: 0;
    visibility: visible;
  }
}
