.container {
  background: white;
  margin: 10px 7px;
  font-family: $paragraph-font;
  color: $button-grey;
  justify-content: center;
  flex-direction: column;
  display: none;
  box-shadow: 0 0 5px 5px #e3e3e3;
}
