.container {
  background: white;
  margin: 10px 7px;
  font-family: $paragraph-font;
  color: $button-grey;
  justify-content: center;
  flex-direction: column;
  display: none;
  border: solid;
  box-shadow: 2px 2px 5px 2px #888888;
}
