$paragraph-color: #000000;
$brand-main-color: #ff0000;
$hover-main-color: #ffa200;
$button-grey: #979797;
$button-grey-hover: rgb(186, 186, 186);
$main-color: #f58220;
$links-color: #56819f;
$inputs-color: #e3e3e3;
$inputs-hover-color: #333;
$sidebar-color: rgb(25, 25, 25);
$light-grey: #f5f5f5;
$red: #ff0000;
$green: #04ae00;
$transition: all 1s;
/* Font sizes */

$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$title-font: "Roboto", sans-serif;
