.general {
  .statistic {
    display: flex;
    margin: 30px;
    justify-content: center;
    color: $button-grey;

    table {
      margin-left: 15px;
      min-width: 330px;
    }

    tr:hover {
      background-color: $light-grey;
    }

    tr {
      margin: 15px;

      td {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        border-bottom: 1px solid $button-grey;

        div {
          margin: 10px 0;
          color: $button-grey;
          font-weight: 600;
        }

        .number {
          color: $paragraph-color;
        }
      }
    }
  }

  .blue {
    color: $links-color;
  }

  .red {
    color: $red;
  }

  .green {
    color: $green;
  }

  .orange {
    color: $main-color;
  }

  p {
    text-align: left;
    padding-top: 30px;
    text-align: center;
  }

  .earnings {
    display: flex;
    margin: 0 0 50px 0;
    color: $button-grey;
    justify-content: center;
    align-items: center;

    .color-button {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;

      button {
        margin: 20px 15px;

        i {
          padding: 10px;
        }

        span {
          padding: 10px;
        }
      }
    }

    .chart-contanier {
      position: relative;
      margin: auto;

      #myChart {
        width: 784px;
        height: 392px;
      }
    }
  }
}
