.personal-data {
  .container-form {
    padding: 30px 0;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid $button-grey-hover;
    justify-content: center;

    form {
      width: 50%;
      max-width: 100%;

      .field {
        align-items: center;
        display: flex;
        margin-bottom: 15px;

        label {
          flex: 30%;
          text-align: left;
        }

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #ffffff;
          border: 1px solid $button-grey-hover;
          padding: 2px;
          flex: 70%;
        }
      }
    }
  }
}
