.calendar {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
  border-bottom: 1px solid $inputs-color;

  .calendar-box {
    display: flex;
    position: relative;
    font-size: 14px;
    font-family: $brand-font;
    color: $paragraph-color;
    border-width: 1px;
    padding: 5px;
    width: 150px;
    height: 21px;
    border: solid $inputs-color;
    border-radius: 3px;
    justify-content: space-around;
    align-items: center;

    &:hover .icon-calendar {
      opacity: 1;
      transition: $transition;
    }

    .icon-calendar {
      position: absolute;
      opacity: 0;
      color: $hover-main-color;
      bottom: 5px;
    }
  }
}
